a.openidbutton {
    display: block;
    float: left;
    width: 84px;
    margin-right: 25px;
    color: 555;
    text-decoration: none;
}

a.openidbutton:hover {
    color: #555;
    text-decoration: underline;
}

a.openidbutton img {
    display: block;
    width: 64px;
    height: 64px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

a.openidbutton span {
    display: block;
    text-align: center;
    color: #555;
    font-weight: bold;
}


a.provider_Google img  {
    background-color: #dd0000;
}

a.provider_Google img:hover {
    background-color: #ff0000;
}

a.provider_Microsoft img {
    background-color: #0dadea;
}

a.provider_Microsoft img:hover {
    background-color: #1dbdfa;
}

p.clear {
    clear: both;
    padding-top: 15px;
    visibility: visible;
}

.natLogin p.openid_accounts {
    padding-top: 35px;
}    

.native_credentials {
    display: none;
}