%TMPL:INCLUDE{"login"}%
%TMPL:INCLUDE{"openidloginbase.tmpl"}%

%TMPL:DEF{"title"}%<h2 class="openid_accounts">%MAKETEXT{"Log on to [_1] with these accounts" args="%WIKITOOLNAME%"}%</h2><h2 class="native_credentials">%MAKETEXT{"Log on to [_1]" args="%WIKITOOLNAME%"}%</h2>%TMPL:END%

%TMPL:DEF{"form"}%<div id="foswikiLogin">
%TMPL:P{"formstart"}%<div class="foswikiFormSteps">%TMPL:P{"titlestep"}%
<div class="openid_accounts"><hr/>%TMPL:P{"openidstep"}%</div>
<div class="native_credentials">
<hr />
%TMPL:P{"usernamestep"}%%TMPL:P{"passwordstep"}%%TMPL:P{"submitstep"}%
<hr />%TMPL:P{"seealsostep"}%
</div>
</div>%TMPL:P{"loginasadministratorstep"}%%TMPL:P{"formend"}%
</div><script src="%PUBURLPATH%/%SYSTEMWEB%/OpenIDLoginContrib/openidlogin.js"></script>
%TMPL:END%