%TMPL:INCLUDE{"login"}%
%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternLoginPage%TMPL:END%

%TMPL:DEF{"title"}%<h2 class="openid_accounts">%MAKETEXT{"Log on to [_1] with these accounts" args="%WIKITOOLNAME%"}%</h2><h2 class="native_credentials">%MAKETEXT{"Log on to [_1]" args="%WIKITOOLNAME%"}%</h2>%TMPL:END%

%TMPL:DEF{"bottombarcontents"}%%TMPL:END%
%TMPL:DEF{"webaction"}%%TMPL:END%

%TMPL:DEF{"usernamefieldhelplink"}%%TMPL:END%
%TMPL:DEF{"usernamefieldhelpcontents"}%%TMPL:END%
%TMPL:DEF{"passwordnote"}%%TMPL:END%

%TMPL:DEF{"rememberbox"}%<p><label class='foswikiLabel'>
<input tabindex='3' id='remember' name='remember' type='checkbox' value='1' />
<span>%MAKETEXT{"Remember me"}%</span>
</label></p>%TMPL:END%

%TMPL:DEF{"passwordstep"}%<div class="foswikiFormStep">
<h3>%MAKETEXT{"Password"}%</h3>
<p>%TMPL:P{"passwordfield"}% %TMPL:P{"passwordnote"}%</p>
%TMPL:P{context="can_remember_login" then="rememberbox"}%</div>%TMPL:END%

%TMPL:DEF{"seealsostep"}%<span class='foswikiUnvisited'>[[%SCRIPTURLPATH{view}%/%SYSTEMWEB%/ResetPassword?username=%URLPARAM{username}%][%MAKETEXT{"Having problems logging in?"}%]]</span><br /><span class='foswikiUnvisited'>[[%SYSTEMWEB%.UserRegistration][%MAKETEXT{"Create account"}%]]</span>%TMPL:END%

%TMPL:DEF{"openidbutton"}%
<a class="openidbutton provider_%PROVIDERNAME%" href="%SCRIPTURLPATH{"login"}%?provider=%PROVIDER%">
   <img src="%PUBURLPATH%/%SYSTEMWEB%/OpenIDLoginContrib/%LOGOIMAGE%">
   <span>%PROVIDERNAME%</span>
</a>
%TMPL:END%

%TMPL:DEF{"openidstep"}%
<div class="openid_accounts"><hr/>
%TMPL:P{"openidbutton" PROVIDER="MSAzure" PROVIDERNAME="Microsoft" LOGOIMAGE="windows_logo.png"}%
%TMPL:P{"openidbutton" PROVIDER="Google" PROVIDERNAME="Google" LOGOIMAGE="google_g_logo.png"}%
</div>
%TMPL:END%

%TMPL:DEF{"form"}%<div id="foswikiLogin">
%TMPL:P{"formstart"}%<div class="foswikiFormSteps">%TMPL:P{"titlestep"}%
%TMPL:P{"openidstep"}%<p class="clear"><a class='foswikiUnvisited native_toggle' href="#?provider=native">%MAKETEXT{"I don't use any of those."}%</a></p>
<div class="native_credentials">
<hr />
%TMPL:P{"usernamestep"}%%TMPL:P{"passwordstep"}%%TMPL:P{"submitstep"}%
<hr />%TMPL:P{"seealsostep"}%
</div>
</div>%TMPL:P{"loginasadministratorstep"}%%TMPL:P{"formend"}%
</div><script src="%PUBURLPATH%/%SYSTEMWEB%/OpenIDLoginContrib/openidlogin.js"></script>
%TMPL:END%